.result__overview__container {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem 0;
    background-color: var(--background-light);
}

.result__overview__container-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result__overview__title {
    height: 2rem;
    display: flex;
    font-size: 2rem;
    color: var(--character-dark);
    font-weight: 600;
}

.result__table__container {
    position: relative;
    width: 100%;
    height: calc(100vh - (7.5rem + 5rem + 2.5rem));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--background-light);
}

.result__table__header {
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--background-light);
}

.result__item__figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    background: white;
    border-radius: .5rem;
    overflow: hidden;
}

.result__item__figure__picture {
    height: 100%;
    width: auto;
}

.result__item__figure__noPicture > span {
    font-size: 4rem;
    color: var(--color-grey-border);
}

.result__table {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 2rem;
    background-color: var(--background-light);
}


.result__table__row {
    position: relative;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    border-bottom: 0.15rem solid var(--color-grey-border);
    list-style: none;
}

.result__table__heading {
    font-weight: 800;
    font-size: 1.1rem;
    height: 2.5rem;
    border-bottom: 0.3rem solid var(--color-grey-border);
}

.result__table__row > *:nth-child(1) {
    width: 10%;
}

.result__table__row > *:nth-child(2) {
    width: 20%;
}

.result__table__row > *:nth-child(3) {
    width: 25%;
}

.result__table__row > *:nth-child(4) {
    width: 20%;
}

.result__table__row > *:nth-child(5) {
    width: 20%;
}

.result__item__name {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--character-dark);
}

.result__item__status {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--color-red);
}

.result__item__status--passed {
    background: var(--color-green);
}

.result__item__button__wrapper {
    display: flex;
    justify-content: flex-end;
}

.result__item__button {
    /* remove all standart button styling */
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    /* add custom styling */
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.result__item__button > span {
    font-size: 2.5rem;
}

.result__item__button__wrapper > .result__item__button:nth-child(1) {
    margin-left: 0;
}

.result__item__button--view > span {
    color: var(--color-blue);
}

.result__item__button--pass > span {
    color: var(--color-green);
}

.result__item__button--fail > span {
    color: var(--color-red);
}