.level__container {
    background-color: var(--background-light);
    background-image: url("/public/images/background/table.svg");
    background-position: center;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.level__description{
    padding: 1rem;
    margin: 2rem 0 0 2rem;
    width: fit-content;
    color: var(--character-light);
    background-color: rgba(54, 55, 64, 0.5);
    border-radius: 5px;
}

.canvas__container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--character-light);
}

.popup_titel{
    font-size: 4rem;
}

.popup_subtitel{
    font-size: 2.5rem;
}

.popup_figure_holder{
    margin: 2rem 0;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.popup_figure {
    width: 100%;
}

.popup_figure > img{
    width: 100%;
}

.popup_start{
    color: var(--character-dark);
    background-color: var(--color-green);
    transition: background-color 1s, color .5s;
    font-size: 3rem;
}

.popup_start:hover{
    background-color: var(--character-dark);
    color: var(--color-green);

}

.u__z_index2{
    z-index: 2;
    position: relative;
}