
.world__navbar {
    text-align: right;
    padding: 2rem;
}

.world__navbar__buttons__album {
    background: var(--color-green);
}

.world__navbar__buttons__logout {
    background: var(--color-red);
}

.world__navbar__buttons__tutorial{
    background-color: var(--color-yellow);
}

.world__navbar__buttons__tutorial,
.world__navbar__buttons__album,
.world__navbar__buttons__logout {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    border: none;
    transition: .5s all;
    margin-right: 1rem;
    cursor: pointer;
}

.world__navbar__buttons__tutorial:hover,
.world__navbar__buttons__album:hover,
.world__navbar__buttons__logout:hover {
    box-shadow: 0 0 1rem var(--background-dark-primary) inset;
}
