/*App alleen beschikbaar voor tablets en desktop*/

@media (min-width: 768px) {
    .world {
        background: linear-gradient(
            180deg,
            #0292c1 0%,
            #41bde5 29.17%,
            #6bd2f4 49.98%,
            #6bd3f5 49.99%,
            #6cd3f5 50%,
            #41bde6 68.75%,
            #0292c1 100%
        );
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    .world__navigation {
        margin: 5rem;
    }

    .world__route__island {
        z-index: 2;
    }

    .assignment_1 {
        grid-column: 1;
        grid-row: 1;
    }

    .assignment_2 {
        grid-column: 2;
        grid-row: 3;
    }

    .assignment_3 {
        grid-column: 3;
        grid-row: 1;
    }

    .assignment_4 {
        grid-column: 4;
        grid-row: 3;
    }

    .assignment_5 {
        grid-column: 5;
        grid-row: 1;
    }

    .island__figure__image {
        width: 100%;
        margin-top: -1rem;
    }

    .world__route {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, 1fr));
        grid-column-gap: 0rem;
        grid-row-gap: 0rem;
        height: 30rem;
        width: 100%;
        padding: 3rem;
        margin: 0;
        position: relative;
    }
}

@media (min-width: 1025px) {
    .world__route {
        height: 40rem;
        padding: 0rem;
        width: 90%;
        margin-left: 5%;
    }

    .island__figure__image {
        width: 100%;
        margin-top: 0rem;
    }
}

@media (min-width: 1281px) {
    .island__figure__image {
        width: 80%;
        margin-top: -2rem;
    }
}
