.student__item {
    background: #3E4049;
    box-shadow: -2px 0px 17px 13px rgb(88 196 246 / 19%);
    border-radius: 3rem;
    width: 10rem;
    height: 10rem;
}

.student__item__figure {
    background: linear-gradient(180deg, #FFD166 0%, #DB3069 100%);
    border-radius: 3rem;
}

.student__item__figure__picture {
    height: 6rem;
    margin-left: 2rem;
}
.student__item__name__text, .student__item__link {
    text-decoration: none;
}

.students__item__header__name {
    color: var(--color-blue);
    font-size: 1.5rem;
    text-align: center;

}

