.album {
        background: linear-gradient(180deg, #0292C1 0%, #41BDE5 29.17%, #6BD2F4 49.98%, #6BD3F5 49.99%, #6CD3F5 50%, #41BDE6 68.75%, #0292C1 100%);
        min-height: 100vh;
        min-width: 100vw;
}

.drawings {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        height: 50rem;
        width: 100%;
        padding: 3rem;
        margin: 0;
        border-radius: .5rem;
}

.drawings__item__figure {
    max-width: 100%;
}

.drawings__item__figure__image {
    width: 40%;
}
