.OverviewPerGroupPage{
    height: 100vh;
    width: 100vw;
    background-color: var(--background-light);
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.OverviewPerGroupPage__statisticContainer{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.statisticContainer__statistic{
    width: 25%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 15px;
    background-color: var(--color-card-white);
}

.statistic__titleContainer{
    width: 100%;
    padding: 1rem;
}

.statistic__contentContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OverviewPerGroupPage__chartContainer{
    border-radius: 15px;
    background-color: var(--color-card-white);
    height: 75%;
    width: 100%;
    padding: 0.5rem;
}