.OverviewPerGroupPage{
    max-height: 100vh;
    max-width: 100vw;
    background-color: var(--background-light);
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.OverviewPerGroupPage__statisticContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    padding: 1rem;
}

.statisticContainer__statistic{
    width: 20rem;
    height: 8rem;
    border: 3px solid red;
}

.OverviewPerGroupPage__chart{
    height: 100%;
    width: 100%;
    border: 1px solid black;
}