.background_table {
    background-color: var(--background-light);
    background-image: url("/public/images/background/table.svg");
    background-position: center;
    background-repeat: repeat;
    
    position: relative;
    display: flex;
    justify-content: center;
}

.student{
    width: 90%;
    margin: 2rem 0;
}

.student__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.student__card{
    width: 15rem;
    height: 15rem;
}

.students__return_button{
    position: absolute;
    top: 2rem;
    left: 5%;
    border-style: none;
    color: var(--character-light);
    background-color: var(--color-blue);
    border-radius: .5rem;
    padding: .6rem 1.8rem;
    cursor: pointer;
    float: right;

    display: flex;
    justify-content: center;
    align-items: center;
}

.student__login__form {
    padding: 3rem;
    background: #3E4049;
    overflow: hidden;
}

.student__login__form__password__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.student__login__form__password{
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    box-shadow: .1rem .3rem .2rem .1rem rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    text-align: center;
    background-color: var(--background-dark-primary);
    color: var(--character-light);

}

.student__login__form__password-active {
    background-color: #828592;

}

.login__collection{
    display: flex;
    width: 200%;
    margin: 2rem 0;
    transition: 2s transform;
}

.login__collection[data-page="1"]{
    transform: translateX(0);
}

.login__collection[data-page="2"]{
    transform: translateX(-50%);
}

.student__login__form__image_wrapper{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 2rem;
    border-radius: .5rem;
    opacity: 1;
    transition: 1s all;
}

.student__login__form__image_wrapper__hidden{
    opacity: 0;
    visibility: hidden;
}

.student__login__form__figure {
    border-radius: .5rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.student__login__form__picture {
    border-radius: .5rem;
    width: 100%;
    height: 100%;
}

.student__login__buttons {
    display: flex;
    justify-content: space-between;
}

.student__login__buttons__button {
    border-style: none;
    color: var(--character-light);
    border-radius: .5rem;
    padding: .6rem 1.8rem;
    cursor: pointer;
    float: right;

    display: flex;
    justify-content: center;
    align-items: center;
}

.student__login__buttons__button[data-color="blue"] {
    background-color: var(--color-blue);
}
.student__login__buttons__button[data-color="green"] {
    background-color: var(--color-green);
}
.student__login__buttons__button[data-color="yellow"] {
    background-color: var(--color-yellow);
    color: var(--character-dark);
}

.student__login__buttons__button:disabled {
    cursor: not-allowed;
    background-color: var(--color-grey);
    color: var(--character-dark);
}

.students__login__actions__button--back {
    width: 7rem;
    border-style: none;
    color: var(--character-dark);
    border-radius: 5px;
    background-color: var(--color-yellow);
    cursor: pointer;
}

.login__modal__error {
    height: 40vh;
    width: 40vw;
    background-color: #FCDAE2;
    text-align: center;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.login__modal__error__title {
    color: var(--color-dark-blue);
}
.error__icon {
    color: red;
}

.student__item {
    grid-column: 5;
}

.login__modal__error__button {
    padding: 0.4rem 2.8rem;
    border-style: none;
    color: var(--character-light);
    border-radius: 5px;
    background-color: var(--color-blue);
    cursor: pointer;
}

.student__login__images__title {
    color: var(--color-card-white);
}

.student__login__images__picture:hover {
    cursor: pointer;
}

.active {
    border: .4rem solid var(--color-blue);
}
