.menuSettingsPage {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999999999;
    background-color: var(--background-light);
    height: 100vh;
    width: 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.slide-in-right {
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.menu__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999998;
    background-color: var(--background-dark-secundary);
    opacity: 0.5;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminSettingsPage__logoutContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom: 1px solid grey;
}

.adminSettingsPage__closeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.adminSettingsPage__closeButton > span {
    font-size: 3rem;
    line-height: 3rem;
}

.adminSettingsPage__contentContainer {
    background-color: var(--background-light);
    height: 100%;
    width: 95%;
    margin: 2rem;
    border-radius: 15px;
}

.content__form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.form__contentBlock {
    display: flex;
    flex-direction: column;
}

.form__buttonContainer {
    width: 20rem;
    display: flex;
    justify-content: flex-end;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
