@media (min-width: 768px) {
  .students {
        background-color: var(--background-light);
        background-image: url("/public/images/background/table.svg");
        background-position: center;
        background-repeat: repeat;
        width: 100vw;
        height: 100vh;
        overflow: auto;
    }

    
    .students__list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0,1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        width: 90%;
        padding: 3rem;
        height: 70%;
        margin-left: 5%;
        background: #3E4049;
        border-radius: .5rem;
    }

    .students__header {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        height: 15rem;
    }

    .students__title {
        margin-top: 10rem;
        margin-left: 5rem;
    }


    .students__list__item {
        background: #3E4049;
        box-shadow: -0.2rem 0rem 1.7rem 1.3rem rgb(88 196 246 / 19%);
        border-radius: 3rem;
        width: 9rem;
        height: 90%;
    }


    .students__list__item__name__text {
        font-size: 1.5rem;
        text-align: center;
    }

    .students__list__item__link {
        text-decoration: none;
    }

    .students__list__item__figure {

        background: linear-gradient(180deg, #FFD166 0%, #DB3069 100%);
        backdrop-filter: blur(2px);
        border-radius: 5rem;
    }

    .students__list__item__figure__picture {
        height: 6rem;
        margin-left: 15%;
    }
    

}

@media (min-width: 1025px) {
    .students__list {
        grid-template-columns: repeat(4, minmax(0, 1fr));

    }
}

@media (min-width: 1281px) {
    .students__list {
        grid-template-columns: repeat(6, minmax(0, 1fr));

    }

}